*{
box-sizing:border-box;
list-style: none;
background-color: #f5f5f5;
color:#424242;
text-align: center;
}
a {
  text-decoration: none;
}
h2 {
  font-size:40px;
}

.container {
  width:100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'

}

/*  effectのクラスの子要素effect-moveをスクロール時発動*/
.effect-move{
  transition: 1.2s;
}



/*  右下のお問い合わせボタン*/
#fab {
    display: block;
    width: 56px;
    height: 56px;
    background: #a52a2a;
    text-align: center;
    border-radius: 50%;
    transition: .2s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    position:fixed;
    bottom:24px;
    right:24px;
    z-index:10;
}
#fab i {
  color: white;
  line-height: 40px;
  margin:8px 0px;
  font-size: 18px;
  transition: .2s;
  background: #a52a2a;
}
#fab:hover {
  background:#800000;/*背景色を変更*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);/*浮き上がる*/
}
#fab:hover i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);/*回転角度*/
  background:#800000;
  line-height: 40px;
  margin:8px 0px;
}

#fab:hover .fa:before {
  content: '\f2b6';/*変更後のアイコン*/
}




/* ヘッダーについて*/
header {
  height:60px;
  width: 105%;
  background-color: rgba(255, 255, 255, 1);
  position:fixed;
  top:0px;
  z-index:10;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.44);
}
.header-left {
  float: left;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  width:17%;
  text-align: left;
}
.header-left a{
  line-height: 60px;
  color:#800000;
  background-color: rgba(255, 255, 255, 0);
  font-size:20px;
  font-weight: bold;
  cursor : pointer;
}
.header-right {
  float: right;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.9s;
  width:83%;
  padding-right:5%;
}
.header-right li{
  float: right;
  font-size: 0.875rem;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.1s;
}
.header-right li:hover {
  border-bottom:3px solid #dc143c;
  background-color: rgba(255, 255, 255, 0);
}
.header-right a:hover {
  color:#800000;
}
.header-right a {
  line-height: 40px;
  font-size: 12px;
  height:35px;
  padding: 0px 20px;
  color:#4C4B4D;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  transition: all 0.5s;
}
.contact-btn{
  border:3px solid #dc143c;
  border-radius: 5px;
  margin-left:10px;
}
.contact-btn a{
  height: 30px;
  padding:5px 20px;
  line-height:25px;
  animation: all 0.5s;
}
.contact-btn a:hover{
  background-color: #dc143c;
  color:white;
}

/*  スマホ用ヘッダー*/
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
}
/*  */
/*  topページ*/
/*  */
.top-wrapper{
  height: 100vh; /*高さ画面幅１００％*/
  margin-top:0px;
  background-image: url(img/top.jpg);
  background-size: cover;
}
.top-text{
  background-color:rgba(255, 255, 255, 0);
}
.top-text p{
  background-color:rgba(255, 255, 255, 0);
  color: #fff0f5;
  font-weight: bold;
  font-size:60px;
  padding-top:40vh;
}
.top-text i{
  color:white;
  background-color:rgba(255, 255, 255, 0);
  font-size:50px;
}


/*  */
/*  aboutThisSiteページ*/
/*  */
.aboutThisSite-wrapper{
  height: 100vh;
  padding-top:20%;
}
.aboutThisSite-text{
  text-align: center;

}
.aboutThisSite-text p{
  line-height: 35px;
  font-size:20px;
  margin:0px 10%;
}


/*  */
/*  aboutMeページ*/
/*  */
.aboutMe-wrapper{
  height: 110vh;
  text-align: center;
  padding-top:10%;
}
.aboutMe-image{
  float:left;
  width:45%;
  margin:0px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
}
.aboutMe-image img{
  height: 500px;
  width:100%;
}
.aboutMe-text{
  float: left;
  height:500px;
  margin-left:2%;
  width:53%;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
}
.aboutMe-text p{
  background-color: white;
  line-height: 35px;
  font-size:18px;
  margin:0px 10%;

}
.aboutMe-text h2{
  background-color: white;
  font-size: 25px;
  padding:20px 0px;
  margin:40px 10%;
  border-bottom:1px solid #c0c0c0;
}
.aboutMe-text span{
  font-weight: normal;
  background-color: white;
}
.aboutMe-text a{
  line-height: 30px;
  color:white;
  padding:10px 20px;
  border-radius: 5px;
  background-color:#e8676b;
  font-size:18px;
  cursor : pointer;
  position: absolute;
  right:30px;
  bottom:30px;
  transition: all 0.3s;
}
.aboutMe-text a:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3), 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
}
/*  スライドで色々な写真をズームしながらのせる*/
#slide_wrapp {
  position: relative;
  overflow: hidden;
  padding: 0px;
}
#slide_wrapp .slide_item {
  opacity: 0;
  transform: scale(1);
  transition: opacity 2s linear, transform 7.5s linear;
  position: relative;
  z-index: 1;
}
#slide_wrapp .slide_item:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
#slide_wrapp .slide_item.show_ {
  opacity: 1;
}
#slide_wrapp .slide_item.zoom_ {
  transform: scale(1.1);
}
#slide_wrapp .slide_item img {
  display: block;
}

/*  */
/*  portfolioページ*/
/*  */
.portfolio-wrapper {
  height: 120vh;
  padding-top:8%;
}
.portfolio-left{
  float: left;
  margin-left: 3%;
  width:59%;
  height:600px;
  background-color: white;

}
.portfolio-right{
  float:left;
  width:33%;
  margin:0px 3% 0 2%;
  height:600px;
}
.portfolio-left img{
  height:600px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
  transition: .2s;
  cursor : pointer;
}
.portfolio-left img:hover{
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.12), 0 6px 6px 0 rgba(0,0,0,.24);
}
.portfolio-right img {
  height:290px;
  margin-bottom: 16px;
  cursor : pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
}
.portfolio-image{
  position: relative;
}
.portfolio-image a{
  position: absolute;
  bottom: 30px;
  left:30px;
  color:white;
  font-size:25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0)
}

/*  portfolio-1*/
/*モーダル*/
/* モーダル部分のCSSを貼り付けてください */
.portfolio-1-wrapper, .portfolio-2-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */
  display: none;
}
.portfolio-form{
  margin:auto;
  margin-top:15vh;
  background-color: rgba(0, 0, 0, 0.0);
  max-width: 1000px;
}
.close-modal{
  position: absolute;
  top:10px;
  right:15px;
  display: block;
  width: 40px;
  height: 40px;
  background: #800000;
  text-align: center;
  border-radius: 50%;
  transition: all .1s;
  cursor : pointer;
}
.close-modal i{
  background-color: rgba(0, 0, 0, 0.0);
  line-height: 40px;
  color:white;
  font-size: 25px;
}
.close-modal:hover{
  background:#a52a2a;/*背景色を変更*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);/*浮き上がる*/
}
.portfolio-1-text{
  float: left;
  width:40%;
  height:500px;
  text-align: center;
  padding:30px 40px;
  line-height: 30px;
  background-color: white;
}
.portfolio-1-text p {
  padding:10px 0;
  background-color: rgba(0, 0, 0, 0.0);
}
.portfolio-1-text a{
  background-color: rgba(0, 0, 0, 0.0);
  font-weight: bold;
  font-size: 20px;
}
.portfolio-1-text i{
  background-color: rgba(0, 0, 0, 0.0);
}
.portfolio-1-text h2{
  border-bottom: 1px solid #696969;
  padding:40px 0 10px 0;
  margin:0 20px;
  background-color: rgba(0, 0, 0, 0.0);
}
.portfolio-1-image{
  float: right;
  width: 60%;
  height:500px;
  position: relative;
  background-color: white;
}
.portfolio-1-image img{
  height:90%;
  margin-top:30px;
  margin-right:40px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
}



/*  */
/*  formページ*/
/*  */
.form-wrapper{
  height: 700px;;
  padding-top:7%;
}
.form-sheet{
  position:relative;
  margin: auto;
  height:400px;
  width:70%;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 6px 30px 0 rgba(0,0,0,0.3);
  padding-top:60px;
}
.submit {
    width: 70px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color:#800000;
    opacity:0.8;
    transition:all 0.5s;
    border:none;
}
  .submit:hover {
  opacity:1;
}
.submit a{
  color:white;
  width:100%;
  display: inline-block;
  background-color:#800000;
  font-size:30px;
  line-height: 390px;
  transition: all 0.15s;
}
.submit a:hover{
  font-size:35px;
}
/*  */
/*  フォーム*/
.input-field{
  background-color: white;
  margin-bottom: 40px;
  position: relative;

}
.contact-name{
    text-align: left;
    padding-left:30px;
    padding-bottom: 0px;
}
.contact-email{
    text-align: left;
    padding-left:30px;
    padding-bottom: 0px;
}
.contact-message{
    text-align: left;
    padding-left:40px;
    padding-bottom: 0px;
    padding-right:20px;
}



.input-field label{
  background-color:rgba(255, 255, 255, 0);
  position: absolute;
  left:10%;
  top:0;
  color:#696969;
  font-size:20px;

}
input, textarea {
    width: 70%;
    display: block;
    padding: 8px 0;
    font-size: 15px;
    line-height: 24px;
    border: none;
    transition: all 0.3s ease;
    border-bottom: 1px solid #BFBFBF;
    margin:0 20% 0 10%;
    background-color: white;
}







/*  上に飛ぶボタン*/
.up-btn{
  margin: auto;
  font-size:40px;
}
.up-btn a{
  cursor : pointer;
}


/*  フッター*/
footer{
  width:100%;
  height:80px;
  background: linear-gradient(to bottom, #cd5c5c 0%, #800000 100%);
}

footer p{
  float:left;
  line-height: 80px;
  color:white;
  margin:0px;
  background-color: rgba(34, 49, 52, 0.0);
}
